#musicDetails {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  //background: url("../img/detailsBg.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
  }
  .details_title {
    position: absolute;
    top: 0;
    width: 100%;
    line-height: 40px;
    height: 40px;
    background-color: rgba(0,0,0, 0.1);
    font-size: 20px;
    text-align: center;
    color: white;
    .detail_name {
      span {
        font-size: 14px;
        color: lightblue;
        padding-left: 10px;

      }
    }
    .detail_tip_wrapper {
      position: absolute;
      right: 0;
      top: 0;
      padding: 15px;
      width: 19px;
      height: 10px;
      .detail_tip {
        display: block;
        width: 19px;
        height: 10px;
        background: url("../img/details_arrow.png") no-repeat;
        background-size: cover;

      }
    }
  }
  .details_lyric {

  }
  .details_audio {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    .audio_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 280px;
      margin: 5px auto 20px;
      .audio_pro {
        position: relative;
        float: left;
        width: 200px;
        height: 2px;
        background: #fff;
        .audio_proUp {
          width: 0;
          height: 2px;
          background: #29abe2;
        }
        .audio_proBar {
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: 0;
          padding:10px;
          margin-left:-17px;
          transform: translateY(-46%);
          div {
            width: 15px;
            height: 15px;
            background: #29abe2;
            border-radius: 8px;
          }
        }
      }
      .nowTime {
        float: left;
        font-size: 12px;
        color: #b3b3b3;
        margin-right: 10px;
      }
      .allTime {
        font-size: 12px;
        color: #b3b3b3;
        margin-left: 10px;
      }
    }
    .control_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 200px;
      margin: 0 auto;
      .detailPlay {
        position: relative;
        width: 55px;
        height: 55px;
        .play {
          position: absolute;
          width: 55px;
          height: 55px;
          background: url("../img/details_play.png") no-repeat;
          background-size: cover;
        }
        .pause {
          position: absolute;
          display: none;
          width: 55px;
          height: 55px;
          background: url("../img/details_pause.png") no-repeat;
          background-size: cover;
        }
      }
      .prev {
        width: 37px;
        height: 37px;
        background: url("../img/details_prev.png");
        background-size: cover;
      }
      .next {
        width: 37px;
        height: 37px;
        background: url("../img/details_next.png");
        background-size: cover;
      }
    }
    .detail_btn {
      display: flex;
      margin: 20px 0;
      justify-content: center;
      align-items: center;
      li {
        box-sizing: border-box;
        margin: 0 4px;
        width: 7px;
        height: 5px;
        background: #29abe2;
        border-radius: 5px;
        &.active {
          width: 24px;
        }
      }
    }
  }

}
ul {
  margin:0;
}
li {
  list-style: none;
}
